<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpJWY7WXOUtSgR6oceP4ypAT3N9Ak9rnM</string>
	<key>GCM_SENDER_ID</key>
	<string>233800088312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sticky.fortune-cookie</string>
	<key>PROJECT_ID</key>
	<string>fortunecookie-398509</string>
	<key>STORAGE_BUCKET</key>
	<string>fortunecookie-398509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233800088312:ios:1679f01e2bc6e92327590d</string>
</dict>
</plist>